body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #1e1e1e;
    border-radius: 5px;
}

#projects .project {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    position: fixed;
    bottom: 0;
    width: 100%;
}